:root {
  /* */ 
--mavi1: hsl(205, 100%, 30%);
--mavi2: hsl(205, 100%, 40%);
--mavi3: hsl(205, 100%, 50%);
--mavi4: hsl(205, 100%, 60%);
--mavi5: hsl(205, 100%, 70%);
/* asil renklerin acik tonları */
--mavi-6: hsl(205, 89%, 70%);
--mavi-7: hsl(205, 90%, 76%);
--mavi-8: hsl(205, 86%, 81%);
--mavi-9: hsl(205, 90%, 88%);
--mavi-10: hsl(205, 100%, 96%);
--mavi-11: hsl(205, 3%, 95%);
/* Basliklar icin kullanilan koyu tonlar */
--gri-1: hsl(209, 61%, 16%);
--gri-2: hsl(211, 39%, 23%);
--gri-3: hsl(209, 34%, 30%);
--gri-4: hsl(209, 28%, 39%);
/* Paragraflar icin kullanilan renkler */
--gri-5: hsl(210, 22%, 49%);
--gri-6: hsl(209, 23%, 60%);
--gri-7: hsl(211, 27%, 70%);
--gri-8: hsl(210, 31%, 80%);
--gri-9: hsl(212, 33%, 89%);
--gri-10: hsl(210, 36%, 96%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 2rem;
  /* border: 1px solid red; */background-color: l;
}
.logos{
  display: flex;
  /* height: 30px; */
  justify-content: flex-start;
  align-items: center;
  background-color: var(--mavi-10);
  
}
img {
  width: 60px;
  height: 50px;
  background-color: aqua;
}
.menu {
  width: 32%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid red;
}