@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alumni+Sans+Inline+One&family=Anton&family=Audiowide&family=Itim&family=Lobster&family=Roboto+Serif:opsz,wght@8..144,100&family=Roboto:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    position: relative;
    text-align: center;
    align-items: center !important;
    

}

.header {
    display:inline-flex;
    height: 120px;
    width: 100%;
    padding: 20px 200px;
    text-align: center;
    align-items: center;
    background-color: #ffcb04;
    justify-content:space-between;
    padding-right: 160px;    

}



.header a {
    text-decoration: none;
    
}

/* .header .menus {
    line-height: 10px;
    display: inline-flex; */
    
}

    




.logo1 {
    padding: 0;
    margin-right: 100px;
    width: 300px;
    
    
}



.exxenspor {

    background-color: black;
    line-height: 25px;
    padding: 10px;
    font-weight: bold;
    margin-left: 450px;
    font-size: large;
    letter-spacing: -1px;


}

.exxenspor a {
    color:#ffcb04;
}

.member {
    border: 1px solid black;
    line-height: 25px;
    padding: 10px 7px;
    font-weight: bold;
    margin-right: 15px;




}

.member a {
    color: black;
    letter-spacing: -1px; /*Harfler arasını daraltır.*/


}

header .logo2 {
    margin-right: 0px;
    text-align: center;
    align-items: center;
    justify-content:center;
    display:flex;
    margin-left: -5px;
    padding-right: 40px;
    top: 0px;
    font-size: 0.9em;
    overflow: hidden;

    
}


.logo2::after{
    content: "▼";
    position: relative;


}

 #dil {
    display: flex;
    background-color: #ffcb04;
    border: none;
    width: 40px;
    overflow: hidden;

    
}



nav {
    background-color: rgba(128, 128, 128, 0.185);
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px 220px;
    height: 100px;
    position: sticky;
    top: 0px;
    align-items: center;
}

nav div input {
    width: 350px;
    padding-left: 20px;
    border: 2px double gray;
    font-size: large;
   
    top: 0px;
    line-height: 50px;
    
}

nav div input::placeholder{
    color: black;
    font-size:large;
    font-weight: bold;
}

.btn input {
    background-color: #ffcb04 !important;
    font-family: 'Abril Fatface', cursive;
    border: none;
}


.main {
    text-align: center;
    align-items: center;

    border: 1px solid red;
}

.main main a img {
    width: 1200px;
    align-items: center;
    margin: 50px 0px ;
}

section {
    display: flex;
    width: 1200px;
    margin: auto;
    align-items: center;
    border: 2px solid red;  
    margin-bottom: 50px;

}

section div a img {
    width: 235px;
    text-align: center;
    align-items: center;
    margin: 0px 33px;
    margin-bottom: 20px;

}

section div a  {
    text-align: center;
    align-items: center;
}

.spor a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.yellowpicture {
    margin-bottom: 50px;
}

.metin {
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.metin p {
    color: white;
    font-size: 2.05vw;
    letter-spacing: normal;
    padding: 0px 250px;
}


.son img {
    width: 148px ;
    height: 40px;
    margin: 10px;


}

.son div {
    display: inline;

}







.sonbuton {
    display:flex;
    background-color: rgba(240, 248, 255, 0.063);
    height: 80px;
    width: 1120px;
    margin: 0px 70px;
    margin: auto;

}

.sonbuton a {
    text-decoration: none;
    width: 202px;
    height: 25px;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.063);
    color: #ffcb04;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 1.2rem;
    

}