*{
    box-sizing: border-box;
    /* margin: 60px; */
    padding: 0;
    
}

body {
    display: flex;
    justify-content: center;
    
}




.container1 {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(5, 70px);
    width: 350px;
    height: 600px;
    border: 1px solid black;
    border-radius: 60px;
    background-color: white;
    gap: 8px;
    justify-content: center;
    align-content:flex-end;
    margin: 50px;
    padding-bottom: 25px;
    background-color: black;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    
}

.container {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    background:rgba(128, 128, 128, 0.413);
    display: grid;
}

.container:hover {
    cursor: pointer;
    opacity: 0.8;
}
.container:active {
    transform: scale(95%)

}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 120px;
    background:rgba(128, 128, 128, 0.413);
    justify-content: flex-start;
    padding-left: 25px;
}

/* .point {
    grid-column: 3 / 4;
    grid-column-start: 3;
    grid-column-end: 5;
} */

.gray {
    background-color: rgba(128, 128, 128, 0.786);
    color: black;
}

.yellow {
    background-color: rgba(255, 166, 0, 0.832);
}

.plus {
    font-size: 1.4rem;
    font-weight: 700;
}

/** ALT + 0177 == ± BUNU VERİR.*/

//** windows + nokta(.) bas emojiler semboller gelir.

