main {
    
    background-image:url(./ulkemizin-dort-bir-yanindan-guzel-manzara-fotograflari.jpg) ;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
}

.container {
    height: 60%;
    width: 60%;
    background-color: rgba(0,0,0,0.7);
    margin-top: 30px;
    color: white;
}

.input-group {
    width: 70%;
    margin: auto;

}

.form-kontrol {
    width: 80%;
    margin: auto;
}


h1 {
     text-align: center;
     color: white;
     letter-spacing: 5px;
     text-shadow: 4px 4px 4px rgba(255,0,0,0.9);
     margin : 40px 0px;

 }


 .results {
    display: block;
    width: 70%;
    text-align: center;
    margin:auto;

 }

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top:0.7rem;
    transition: all 1s;
    border: 2px solid red;
    border-radius: 10px;
    opacity: 0.7;

}


 .bg {
    color: red;
    background-color: coral;


 }


 .bg p {

    text-decoration: line-through;
    color: red;
 }

 .p {
    text-align: center;
    margin-top: 10px;
 }

